
<h3>Criar perfil</h3>
<% unless @perfil_worker.errors.empty? %>
	<% @perfil_worker.errors.full_messages.each do |error| %>
		<p><%= error %></p>
		<% end %>
<% end %>

<%= form_with(model: @perfil_worker) do |form| %>
		<p>
				<%= form.label :full_name %>
				<%= form.text_field :full_name %>
		</p>
		<p>
				<%= form.label :name %>
				<%= form.text_field :name %>
		</p>
		<p>
				<%= form.label :birthdate %>
				<%= form.date_field :birthdate %>
		</p>
		<p>
				<%= form.label :qualification %>
				<%= form.text_field :qualification %>
		</p><p>
				<%= form.label :background %>
				<%= form.text_field :background %>
		</p><p>
				<%= form.label :expertise %>
				<%= form.text_field :expertise %>
		</p>
		<p>
				<%= form.label :photo %>
				<%= form.file_field :photo %>
		</p>
		<%= form.submit 'Criar perfil' %>
<% end %>
