<nav>
  <ul class="nav nav-tabs">
    <% unless employer_signed_in? || worker_signed_in? %>
      <li class="nav-item">
        <div data-controller="dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false" data-action="onmouseover->dropdown#toggle">Empregador</a>
          <ul class="dropdown-menu" data-dropdown-target="dropdown">
            <li><%= link_to t('.link_to_login_employer'), new_employer_session_path, class: 'dropdown-item' %></li>
            <li><%= link_to t('.link_to_signup_employer'), new_employer_registration_path, class: 'dropdown-item' %></li>
          </ul>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false"> Freelancer</a>
        <ul class="dropdown-menu">
          <li><%= link_to t('.link_to_login_worker'), new_worker_session_path, class: "dropdown-item" %></li>
          <li><%= link_to t('.link_to_signup_worker'), new_worker_registration_path, class: "dropdown-item" %></li>
        </ul>
      </li>
    <% end %>
  </ul>
</nav>


<% if employer_signed_in? %>
  <h3><%= link_to t('.link_to_new_project'), new_project_path, class:"btn btn-primary"%></h3>
<% end %>
<% if worker_signed_in? %>
  <%= form_with url: "/projects/search", method: :get do |form| %>
    <%= form.label :query, t('.label_search') + ':' %>
    <%= form.text_field :query %>
    <%= form.submit t('.button_search') %>
  <% end %>
<% end %>

<% unless @projects.nil? || @projects.empty? %>
  <div class="list-group">
    <% if worker_signed_in? %>
      <h3><%= t('.avaliables_projects') + ':' %></h3>
    <% elsif employer_signed_in? %>
      <h3><%= t('.my_projects_title') + ':' %></h3>
    <% end %>
    <% @projects.each do |project| %>
      <%= link_to project, class:"list-group-item list-group-item-action", 'aria-current':"true" do %>
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><%= project.title %></h5>
          <% if employer_signed_in? %>
            <small><%= Proposal.model_name.human(count: 2) + ' ' + t('.pending') + ': ' + project.proposals.where(status: :pending).count.to_s %></small>
          <% else %>
            <small><%= Project.human_attribute_name('max_per_hour') + ': ' + number_to_currency(project.max_per_hour) %></small>
          <% end %>
        </div>
        <p class="mb-1"><%= project.description %></p>
        <small><%= Project.human_attribute_name('deadline') + ' : ' + l(project.deadline) %></small>
      <% end %>
    <% end %>
  </div>
<% end %>

<% unless @projects_worker.nil? || @projects_worker.empty? %>
  <h3><%= t('.proposals_tilte') %></h3>
  <div class="list-group">
    <% @projects_worker.each do |project| %>
      <%= link_to project, class:"list-group-item list-group-item-action", 'aria-current':"true" do %>
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><%= project.title %></h5>
          <% if employer_signed_in? %>
            <small><%= Proposal.model_name.human(count: 2) + ' ' + t('.pending') + ': ' + project.proposals.where(status: :pending).count.to_s %></small>
          <% else %>
            <small><%= Project.human_attribute_name('max_per_hour') + ': ' + number_to_currency(project.max_per_hour) %></small>
          <% end %>
        </div>
        <p class="mb-1"><%= project.description %></p>
        <small><%= Project.human_attribute_name('deadline') + ' : ' + l(project.deadline) %></small>
      <% end %>
    <% end %>
  </div>
<% end %>
<div data-controller="hello">
  <h1 data-target="hello.output"></h1>
  <input type="text">
  <button>Greet</button>
</div>
