<% if employer_signed_in? %>
		<h3><%= link_to 'Criar Projeto', new_project_path %></h3>
<% end %>
<% if worker_signed_in? %>
		<%= form_with url: "/projects/search", method: :get do |form| %>
				<%= form.label :query, "Pesquisar projetos com: " %>
				<%= form.text_field :query %>
				<%= form.submit "Buscar" %>
		<% end %>
		<h3>Projetos disponíveis:</h3>
<% end %>

<% unless @projects.nil? || @projects.empty? %>
		<ul>
				<% @projects.each do |project| %>
						<li><%= link_to project.title, project %></li>
				<% end %>
		</ul>
<% end %>

<% unless @projects_worker.nil? || @projects_worker.empty? %>
		<h3>Projetos com propostas</h3>
		<ul>
				<% @projects_worker.each do |project| %>
						<li><%= link_to project.title, project %>, Status: <%= t(project.status) %></li>
				<% end %>
		</ul>
<% end %>
