<h1>Freelancers</h1>
<nav>
	<ul>
		<% if employer_signed_in? %>
			<li><%= current_employer.email %></li>
			<li><%= link_to 'Logout', destroy_employer_session_path, method: :delete %></li>
			<li><%= link_to 'Criar Projeto', new_project_path %></li>
			<% unless @projects.empty? %>
				<% @projects.each do |project| %>
					<li><%= project.title %></li>
				<% end %>
			<% end %>
		<% else %>
			<li><%= link_to 'Entrar como empregador', new_employer_session_path %></li>
			<li>Entrar como freelancer</li>
		<% end %>
		
	</ul>
</nav>
