<h4>Feedback do projeto: <%= @project.title %></h4>
<% @workers.each do |worker| %>
		<p><%= worker.email %></p>
		<%= form_with model: [@project, @feedback_worker] do |form| %> 
				<%= form.label :rating, 'Nota de 1 a 5' %>
				<%= form.number_field :rating %>
				<%= form.label :comment, 'Comentário' %>
				<%= form.text_field :comment %>
				<%= form.hidden_field :worker_id, value: worker.id %>
				<%= form.submit 'Enviar' %>
		<% end %>
<% end %>
