<h4>Feedback do projeto: <%= @project.title %></h4>
<% if employer_signed_in? %>
		<% @workers.each do |worker| %>
				<p><%= worker.email %></p>
				<%= form_with model: [@project, @feedback_worker] do |form| %> 
						<%= form.label :rating, 'Nota de 1 a 5' %>
						<%= form.number_field :rating %>
						<%= form.label :comment, 'Comentário' %>
						<%= form.text_field :comment %>
						<%= form.hidden_field :worker_id, value: worker.id %>
						<%= form.submit 'Enviar' %>
				<% end %>
		<% end %>
<% end %>
<% if worker_signed_in? %>
		<p><%= @project.employer.email %></p>
		<%= form_with model: [@project, @feedback_employer] do |form| %> 
				<%= form.label :rating, 'Nota de 1 a 5' %>
				<%= form.number_field :rating %>
				<%= form.label :comment, 'Comentário' %>
				<%= form.text_field :comment %>
				<%= form.label :comment_project, 'Comentário do projeto' %>
				<%= form.text_field :comment_project %>
				<%= form.submit 'Enviar' %>
		<% end %>
<% end %>
