
<h4><%= @project.title %></h4>
<dl>
		<dt>Descrição: </dt>
		<dd><%= @project.description %></dd>
		<dt>Máximo por hora: </dt>
		<dd><%= number_to_currency(@project.max_per_hour) %></dd>
		<dt>Data limite:</dt>
		<dd><%= @project.deadline %></dd>
		<dt>Atuação: </dt>
		<dd><%= @project.place %></dd>
</dl>

<% if @has_proposal.empty? %>
		<%= form_with model: [@project, @proposal] do |form| %>
				<%= form.label :description, 'Digite uma proposta' %>
				<%= form.text_field :description %>
				<%= form.label :hourly_value, 'Valor da hora' %>
				<%= form.number_field :hourly_value %>
				<%= form.label :hours_per_week, 'Horas disponível por semana' %>
				<%= form.number_field :hours_per_week %>
				<%= form.label :date_close, 'Expectativa de conclusão' %>
				<%= form.date_field :date_close %>
				<%= form.submit 'Enviar' %>
		<% end %>
<% else %>
		<p>Cancelar proposta</p>
<% end %>

<%= link_to('Voltar', root_path) %>
