
<h4><%= @project.title %></h4>
<dl>
		<dt>Descrição: </dt>
		<dd><%= @project.description %></dd>
		<dt>Máximo por hora: </dt>
		<dd><%= number_to_currency(@project.max_per_hour) %></dd>
		<dt>Data limite:</dt>
		<dd><%= @project.deadline %></dd>
		<dt>Atuação: </dt>
		<dd><%= @project.place %></dd>
</dl>

<% if worker_signed_in? %>
		<%= link_to @project.employer.email, @project.employer %>
		<% if @project.finished? %>
				<%= link_to 'Dar feedback ao Empregador e ao projeto', feedback_project_path %>
		<% else %>
				<% if @worker_proposal.empty? %>
						<%= form_with model: [@project, @proposal] do |form| %>
								<%= form.label :description, 'Digite uma proposta' %>
								<%= form.text_field :description %>
								<%= form.label :hourly_value, 'Valor da hora' %>
								<%= form.number_field :hourly_value %>
								<%= form.label :hours_per_week, 'Horas disponível por semana' %>
								<%= form.number_field :hours_per_week %>
								<%= form.label :date_close, 'Expectativa de conclusão' %>
								<%= form.date_field :date_close %>
								<%= form.submit 'Enviar' %>
						<% end %>
				<% else %>
						<% proposal =  @worker_proposal.take %>
						<p><%= proposal.description %></p>
						<p>Cancelar proposta</p>
				<% end %>
		<% end %>
<% end %>

<% if employer_signed_in? %>
		<ul>
				<li><%= link_to 'Suspender propostas', suspend_project_path(@project), method: :post %></li>
				<li><%= link_to 'Finalizar projeto', finished_project_path(@project), method: :post %></li>
				<li><%= link_to 'Dar feedback aos freelancers', feedback_project_path %></li>
		</ul>
		<% if @employer_proposals.empty? %>
				<p>Ainda não há propostas</p>
		<% else %>
				<% @employer_proposals.each do |proposal| %>
						<dl>
								<dt>Comentário: </dt>
								<dd><%= proposal.description %></dd>
								<dt>Valor por hora:</dt>
								<dd><%= number_to_currency(proposal.hourly_value) %></dd>
								<dt>Horas disponíveis por semana:</dt>
								<dd><%= proposal.hours_per_week %></dd>
								<dt>Previsão de conclusão:</dt>
								<dd><%= proposal.date_close %></dd>
								<dt>Status: </dt>
								<dd><%= proposal.status %></dd>
								<%= link_to proposal.worker.perfil_worker do %>
										<dt>Perfil do freelancer: </dt>
										<dd><%= proposal.worker.email %></dd>
								<% end %>
						</dl>
						<%= link_to 'Aceitar proposta', accepted_proposal_path(proposal), method: :post %>
						<%= link_to 'Rejeitar proposta', rejected_proposal_path(proposal), method: :post %>
				<% end %>
		<% end %>
<% end %>

<%= link_to('Pagina inicial', root_path) %>
