<div class="card">
		<h5 class="card-header"><%= @project.title %></h5>
		<div class="card-body">
				<h5 class="card-title"></h5>
				<dl class="row" >
						<dt class="col-sm-3"><%= Project.human_attribute_name('description') %>:</dt>
						<dd class="col-sm-9"><%= @project.description %></dd>
						<dt class="col-sm-3"><%= Project.human_attribute_name('max_per_hour') %>: </dt>
						<dd class="col-sm-9"><%= number_to_currency(@project.max_per_hour) %></dd>
						<dt class="col-sm-3"><%= Project.human_attribute_name('deadline') %>:</dt>
						<dd class="col-sm-9"><%= l @project.deadline %></dd>
						<dt class="col-sm-3"><%= Project.human_attribute_name('place') %>: </dt>
						<dd class="col-sm-9"><%= @project.place == 'remote' ? 'Remoto' : 'Presencial' %></dd>
						<% if worker_signed_in? %>
								<dt class="col-sm-3"><%= Employer.human_attribute_name('email') %>: </dt>
								<dd class="col-sm-9"><%= link_to @project.employer.email, @project.employer %></dd>
								<dt class="col-sm-3">Avaliação do Empregador:</dt>
								<dd class="col-sm-9"><%= @project.employer.rating.nil? ? 'Ainda não avaliado' : @project.employer.rating %></dd>
						<% end %>
				</dl>
				<% if employer_signed_in? %>
						<div class="btn-group" role="group">
								<%= link_to 'Suspender propostas', suspend_project_path(@project), method: :post,  class:"btn btn-outline-primary card-link" %>
								<%= link_to 'Finalizar projeto', finished_project_path(@project), method: :post,  class:"btn btn-outline-primary card-link" %>
								<%= link_to 'Dar feedback aos freelancers', feedback_project_path,  class:"btn btn-outline-primary card-link" if @project.finished?%>
						</div>
				<% end %>
		</div>
</div>

<% if worker_signed_in? %>
		<% if @project.finished? %>
				<%= link_to 'Dar feedback ao Empregador e ao projeto', feedback_project_path %>
		<% else %>
				<% if @worker_proposal.empty? || @worker_proposal.take.canceled? %>
						<% if !@project.suspend? %>
								<%= form_with model: [@project, @proposal] do |form| %>
										<p>
												<%= form.label :description %>
												<%= form.text_field :description %>
										</p><p>
												<%= form.label :hourly_value %>
												<%= form.number_field :hourly_value %>
										</p><p>
												<%= form.label :hours_per_week %>
												<%= form.number_field :hours_per_week %>
										</p><p>
												<%= form.label :date_close %>
												<%= form.date_field :date_close %>
										</p>
										<%= form.submit 'Enviar' %>
								<% end %>
						<% end %>
				<% else %>
						<% proposal =  @worker_proposal.take %>
						<dl class="row">
								<dt class="col-sm-3">Comentário: </dt>
								<dd class="col-sm-9"><%= proposal.description %></dd>
								<dt class="col-sm-3">Valor por hora:</dt>
								<dd class="col-sm-9"><%= number_to_currency(proposal.hourly_value) %></dd>
								<dt class="col-sm-3">Horas disponíveis por semana:</dt>
								<dd class="col-sm-9"><%= proposal.hours_per_week %></dd>
								<dt class="col-sm-3">Previsão de conclusão:</dt>
								<dd class="col-sm-9"><%= l proposal.date_close %></dd>
								<dt class="col-sm-3">Status: </dt>
								<dd class="col-sm-9"><%= proposal.status %></dd>
						</dl>
						<% if proposal.accepted? && proposal.date_accepted < 3.days.ago  %>
								<%= form_with url:"/proposals/#{proposal.id}/cancel_with_justification", method: :post do |form| %>
										<p>
												<%= form.label :comment, 'Justifique o cancelamento' %>
												<%= form.text_field :comment %>
										</p>
										<%= form.submit 'Cancelar a proposta' %>
								<% end %>
						<% else %>
								<p><%= link_to 'Cancelar a proposta', cancel_proposal_path(proposal), method: :post %></p>
						<% end %>
				<% end %>
		<% end %>
<% end %>

<% if employer_signed_in? %>
		<% if @employer_proposals.empty? %>
				<div class="alert alert-info" role="alert">
						Ainda não há propostas
				</div>
		<% else %>
				<% @employer_proposals.each do |proposal| %>
						<div class="card w-75">
								<div class="card-header"><%= Proposal.model_name.human %></div>
								<div class="card-body">
										<h5 class="card-title"><%= proposal.description %></h5>
										<dl class="row">
												<dt class="col-sm-3">Valor por hora:</dt>
												<dd class="col-sm-9"><%= number_to_currency(proposal.hourly_value) %></dd>
												<dt class="col-sm-3">Horas disponíveis por semana:</dt>
												<dd class="col-sm-9"><%= proposal.hours_per_week %></dd>
												<dt class="col-sm-3">Previsão de conclusão:</dt>
												<dd class="col-sm-9"><%= l proposal.date_close %></dd>
												<dt class="col-sm-3">Status: </dt>
												<dd class="col-sm-9"><%= proposal.status %></dd>
												<dt class="col-sm-3">Perfil do freelancer: </dt>
												<dd class="col-sm-9"><%= link_to proposal.worker.email, proposal.worker.perfil_worker %>
												</dd>
										</dl>
										<div class="btn-group" role="group">
												<%= link_to 'Aceitar proposta', accepted_proposal_path(proposal), method: :post, class:"btn btn-outline-primary card-link" %>
												<%= link_to 'Rejeitar proposta', rejected_proposal_path(proposal), method: :post, class:"btn btn-outline-primary card-link" %>
										</div>
								</div>
				<% end %>
		<% end %>
<% end %>

<%= link_to('Pagina inicial', root_path) %>
